@import url('https://fonts.googleapis.com/css2?family=Lato&family=Nabla&display=swap');

body {
  font-family: "Lato";
}

.divider:after,
.divider:before {
  content: '';
  flex: 1;
  height: 1px;
  background: #c9c9c9;
}

#jumbotron {
  background-image: url("/images/background/shoppingpatern.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Nabla";
  text-shadow: 3px 3px 9px #000000;
}